WebApplication1/Connected Services/LOGIN/Login1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ObtenerTerminalesDisponibles">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrUsuarioAdmin" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrPasswordAdmin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTerminalesDisponiblesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ObtenerTerminalesDisponiblesResult" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataSet" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:element ref="xs:schema" />
              <xs:any />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigurarTerminal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrAgencia" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrRemoteIp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrRemoteHost" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrConnectorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrTerminalId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigurarTerminalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfigurarTerminalResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalByConnectorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalByConnectorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTerminalByConnectorIDResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="Data" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalSegByConnectorID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectorId" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Data" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTerminalSegByConnectorIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetTerminalSegByConnectorIDResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="Data" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigurarTerminalSeguridad">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectorID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataTimeConfig" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BrowserType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BrowserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OSPlataform" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ComputerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IpAddress" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="User_Session" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MAC_Address" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OperationID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConfigurarTerminalSeguridadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConfigurarTerminalSeguridadResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataUser" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="BolChangePass" type="xs:boolean" />
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="DataUser" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="BolChangePass" type="xs:boolean" />
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginHuella">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pFMD" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataUser" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginHuellaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginHuellaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="DataUser" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordChangeLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrOldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrNewPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IntSecLevel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordChangeLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PasswordChangeLoginResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordChange">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrOldPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrNewPassword" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="IntSecLevel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PasswordChangeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PasswordChangeResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Logout">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LogoutResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreLoginInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ConnectorID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="RemoteIP" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BrowserType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BrowerPlataform" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataTimeConfig" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BrowserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ComputerID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="OperationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="userid" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreLoginInfoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserReference">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pServicePointID" type="xs:int" />
        <xs:element minOccurs="0" name="pUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pConfServicePointID" type="xs:int" />
        <xs:element minOccurs="0" name="pConfUserID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pReferenceData" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="rError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateUserReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CreateUserReferenceResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="rError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminalHuella">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pConnector" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminalHuellaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TerminalHuellaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="pError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminalConfigurada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuarioConfigurador" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Terminal" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminalConfiguradaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TerminalConfiguradaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminalReseteada">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TerminalReseteadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TerminalReseteadaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarHuella">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pFMD" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataUser" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarHuellaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarHuellaResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="DataUser" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="StrCodigo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="StrUsuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="pwd_Login" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="DataUser" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ValidarLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ValidarLoginResult" type="xs:boolean" />
        <xs:element minOccurs="0" name="DataUser" nillable="true">
          <xs:complexType>
            <xs:annotation>
              <xs:appinfo>
                <ActualType Name="DataTable" Namespace="http://schemas.datacontract.org/2004/07/System.Data" xmlns="http://schemas.microsoft.com/2003/10/Serialization/" />
              </xs:appinfo>
            </xs:annotation>
            <xs:sequence>
              <xs:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
              <xs:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element minOccurs="0" name="StrError" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>