WebApplication1/Connected Services/CUSTOMERSEARCH/MonitorCashPak3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VerificacionListas.Messages.Enterprise.Response" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VerificacionListas.Messages.Enterprise.Response" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfmatch_bussiness">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="match_bussiness" nillable="true" type="tns:match_bussiness" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmatch_bussiness" nillable="true" type="tns:ArrayOfmatch_bussiness" />
  <xs:complexType name="match_bussiness">
    <xs:sequence>
      <xs:element minOccurs="0" name="asociated_bussiness_id" type="xs:int" />
      <xs:element minOccurs="0" name="category_bussiness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code_list" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="document_bussiness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_bussiness" type="xs:int" />
      <xs:element minOccurs="0" name="is_match_bussiness" type="xs:boolean" />
      <xs:element minOccurs="0" name="ispartner_bussiness" type="xs:boolean" />
      <xs:element minOccurs="0" name="list_match_bussiness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="match_detail_bussiness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matched_bussiness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="name_bussiness" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="score_bussiness" type="xs:decimal" />
      <xs:element minOccurs="0" name="sub_category_bussiness" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="match_bussiness" nillable="true" type="tns:match_bussiness" />
  <xs:complexType name="ArrayOfmatch_partner">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="match_partner" nillable="true" type="tns:match_partner" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfmatch_partner" nillable="true" type="tns:ArrayOfmatch_partner" />
  <xs:complexType name="match_partner">
    <xs:sequence>
      <xs:element minOccurs="0" name="bussiness_id" type="xs:int" />
      <xs:element minOccurs="0" name="category_partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="code_list" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="document_partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="full_name_partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_partner" type="xs:int" />
      <xs:element minOccurs="0" name="is_match_partner" type="xs:boolean" />
      <xs:element minOccurs="0" name="list_match_partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="match_detail_partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="matched_partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="score_partner" type="xs:decimal" />
      <xs:element minOccurs="0" name="sub_category_partner" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="type_asociated_partner" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="match_partner" nillable="true" type="tns:match_partner" />
</xs:schema>