WebApplication1/Connected Services/CUSTOMERSEARCH/MonitorCashPak.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/VerificacionListas.Messages.Enterprise.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/VerificacionListas.Messages.Enterprise.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfEvaluacionPersonaAsociada">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="EvaluacionPersonaAsociada" nillable="true" type="tns:EvaluacionPersonaAsociada" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfEvaluacionPersonaAsociada" nillable="true" type="tns:ArrayOfEvaluacionPersonaAsociada" />
  <xs:complexType name="EvaluacionPersonaAsociada">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Id" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nacionalidad" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Nacionalidad_Adicional" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TipoAsociado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EvaluacionPersonaAsociada" nillable="true" type="tns:EvaluacionPersonaAsociada" />
  <xs:complexType name="EvaluacionEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="DireccionCompleta" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpresaAccionistaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="EmpresaDocumento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EmpresaID" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NombreComercial" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PaisConstitucion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isPartner" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EvaluacionEmpresa" nillable="true" type="tns:EvaluacionEmpresa" />
</xs:schema>